/* Reset default margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: black;
}

/* Header styles */
header {
    background-color:limegreen;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main styles */
main {
    padding: 20px;
}

/* Blog post styles */
.blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: calc(50% - 20px);
}

article h2 {
    margin-bottom: 10px;
}

article p {
    color: black;
    margin-bottom: 15px;
}

article img {
    border-radius: 5px;
}

article a {
    color: #007bff;
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

/* Add Post Form styles */
#add-post-form {
    margin-top: 20px;
}

#add-post-form input,
#add-post-form textarea,
#add-post-form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#add-post-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

#add-post-form button:hover {
    background-color: #0056b3;
}

/* Footer styles */
footer {
    background-color: limegreen;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Style for the file upload input */
input[type="file"] {
    display: block;
    margin-top: 10px;
    font-size: 16px;
}

/* Style for the file upload button */
input[type="file"]::-webkit-file-upload-button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button:hover {
    background: #0056b3;
}

input[type="file"]::-webkit-file-upload-button:active {
    background: #004184;
}
